.lognavbar
{
    height:60px;
    position:fixed;
    margin-top:40px;
    margin-left:0px;
    display:block;
}
.loginbtn{
    width:200px;
    height:40px;
    border-radius: 0 20px 0px 20px;
    border:0;
    margin-left:470px;
    background-color: #c92f3b;
    Color:white;
    font-size:22px;
    font-weight: bold;
}
.signUpbtn{
    width:200px;
    height:40px;
    border-radius: 10px 0px 10px 0px;
    border:0;
    margin-left:20px;
    background-color: #c92f3b;
    Color:white;
    float:right;
    margin-right:40px;
    font-size:22px;
    font-weight: bold;
}
.lognavbar button:hover{
    cursor:pointer;
}
.backthbtn{
    color:black;
    position:relative;
    top:0;
    left:0;
    padding:2px;
}
.backtoHome{
    margin:20px;

}
/* ================================================= */
/* ============ LOGIN NAVBAR RESPONSIVE ============= */
/* ================================================= */

@media (max-width: 768px) {

  .lognavbar {
    position: static;
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    height: auto;
  }

  .loginbtn {
    margin-left:0px;
    width: 90%;
    max-width: 150px;
    font-size: 18px;
  }

  .signUpbtn {
    margin-right: 0;
    float: none;
    width: 90%;
    max-width: 150px;
    font-size: 18px;
  }

  .backthbtn {
    margin-left: 5px;
    font-size: 14px;
  }
  .backtoHome{
    margin-left:0px;
  }
  

}

/* SMALL MOBILE */
@media (max-width: 480px) {

  .loginbtn,
  .signUpbtn {
    width: 100%;
    font-size: 16px;
  }

}