.mainDiv{
    display:flex;
    background-color:black;
    height:100vh;
}
.noCondiv
{
    width:94%;
    height:230px;
    margin:70px 30px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    border-radius:30px;
}
.noconh
{
    color:white;
    text-align:center;
    margin-top:80px;
}
.noconp
{
    color:white;
    text-align: center;
}