.mainDiv{
    display:flex;
    background-color:#edf2f7;
    height:100vh;
}
.noReqdiv
{
    width:94%;
    height:230px;
    margin:70px 30px;
    /* background-color: rgba(255,255,255,0.2); */
    background-color: white;
    backdrop-filter:blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    border-radius:30px;
}
.noReqh
{
    /* color:white; */
    text-align:center;
    margin-top:80px;
}
.noReqp
{
    /* color:white; */
    text-align: center;
    margin-top:15px;
}
.requestcard{
    display:flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 980px;
    height:130px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: Arial;
    transition: 0.3s;
    margin:30px;
}
.requestcard:hover {
  transform: translateY(-5px);
}

.requestcard p {
  margin: 12px 0;
  padding:0px 30px;
}
.requestCards{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width:100%;
}
.acceptbutton{
    background-color: rgb(50, 231, 50);
    width:80px;
    height:35px;
    padding:10px;
    border:none;
    border-radius: 10px;
    margin:0px 30px;
    color:white;
    font-size: 14px;
    font-weight: 600;
}
.rejectbutton{
    background-color: red;
    width:80px;
    height:35px;
    padding:10px;
    border:none;
    border-radius: 10px;
    color:white;
    font-size: 14px;
    font-weight: 600;
}