.resetPassDiv {
    display: block;
    position: fixed;
    top: 127px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 45px 45px 45px 45px;
    box-shadow: 0 4px 20px #c92f3b;
    z-index: 10;
    width: 400px;
    max-width: 90%;
    font-family: Arial, sans-serif;
}

.resetPassDiv h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.resetPassDiv label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

.resetPassDiv input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}
.submitButton{
    width: 100%;
    padding: 10px;
    background-color: #c92f3b;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color:rgb(194, 193, 193);
    color:#c92f3b;
}
.backButton {
    color: #610606;
    font-size: 16px;
}
.backButton:hover {
    cursor:pointer;
    text-decoration:underline;
}
/* modal css starts from here  */
.overlay{
    position:absolute;
    width:100%;
    height: 100%;
    background: rgba(160, 159, 159, 0.5);
    z-index:50;
}
.modal{
    display: block;
    position:relative;
    top:40%;
    left:37%;
    width:300px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
}
.modalCloseBtn{
    width:20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid black;
    float:right;
    margin-right:10px;
    margin-top:10px;
    text-align:center;
    color:white;
    background-color: black;
    font-weight: 700px;
}
.modalCloseBtn:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}
.modalSuccess{
    color: rgb(7, 234, 15);
    width:50px;
    height:50px;
    margin-top:40px;
    margin-left:30px;
}
.modalMessage{
    margin-top:50px;
    margin-left:20px;
    font-size: 26px;
}
.modalMain{
    display: flex;
    flex-direction: row;
}
.modalInvalid{
    color: #EA3323;
    font-size: 64px; 
    font-variation-settings: 'opsz' 48;
    margin-top:30px;
    margin-left:30px;
}