.resetPassDiv {
    display: block;
    position: fixed;
    top: 127px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 45px 45px 45px 45px;
    box-shadow: 0 4px 20px rgba(161, 8, 8, 0.5);
    z-index: 10;
    width: 400px;
    max-width: 90%;
    font-family: Arial, sans-serif;
}

.resetPassDiv h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.resetPassDiv label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

.resetPassDiv input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}
.submitButton{
    width: 100%;
    padding: 10px;
    background-color: #610606;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color:rgb(194, 193, 193);
    color:#610606;
}
.backButton {
    color: #610606;
    font-size: 16px;
}
.backButton:hover {
    cursor:pointer;
    text-decoration:underline;
}